<clickhouse>
    <users>
        <${CLICKHOUSE_ADMIN_USER}>
            <password>${CLICKHOUSE_ADMIN_PASSWORD}</password>
            <access_management>1</access_management>
            <networks>
                <ip>::/0</ip>
            </networks>
        </${CLICKHOUSE_ADMIN_USER}>
    </users>
</clickhouse>
